[run]
source = .

omit =
    */manage.py
    */migrations/*
    */__init__.py
    */tests.py
    */tests/*
    */urls.py
    */admin.py
    */apps.py
    */EliteConsortiumWebSite/asgi.py
    */EliteConsortiumWebSite/wsgi.py
    */EliteConsortiumWebSite/settings.py
