{% extends 'RandomPuller/base.html' %}

{% block title %}
Random Puller
{% endblock %}

{% block content %}
<div class="col">
    <div class="row">
        <div class="col text-center">
            <h1>
                Please Select a Company to pull From
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr class="row">
                    <th class="col">Company</th>
                    <th class="col">Default Number of Randoms</th>
                    <th class="col">Default Number of Randoms</th>
                    <th class="col"></th>
                    <th class="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for company in companies %}
                <tr class="row">
                    <td class="col">{{ company.name }}</td>
                    <td class="col">{{ company.number_of_randoms }}</td>
                    <td class="col">{{ company.number_of_alternates }}</td>
                    <td class="col">
                        <a href="{% url 'RandomPuller:company_employees' company.pk %}"
                           class="btn btn-success">Select/Modify</a>
                    </td>
                    <td class="col">
                        <a href="{% url 'RandomPuller:delete_company' company.pk %}"
                           class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'RandomPuller:new_company' %}" class="btn btn-primary">Add New Company</a>
        </div>
    </div>
</div>
{% endblock %}