{% extends 'RandomPuller/base.html' %}

{% block title %}
Random Puller
{% endblock %}

{% block content %}
<div class="col">
    <div class="row">
        <h1>
            Please Select a company to pull from
        </h1>
    </div>
    <br>
    <div class="row">
        <div class="col">
            {% for company in companies %}
            <form name="select_{{ company.name }}" method="POST"
                  action="{% url 'RandomPuller:company_employees' company.name.split|join:'_' %}">
                {% csrf_token %}
                <label for="id_select_{{ company.name }}">{{ company.name }}</label>
                <input type="submit" value="Select" id="id_select_{{ company.name }}">
            </form>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="">Test</a>
        </div>
    </div>
</div>
{% endblock %}