{% extends 'RandomPuller/base.html' %}

{% block title %}
Random Puller
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>
            Please Select a company to pull from
        </h1>
    </div>
    <br>
    <div class="row">
        <form name="select_company_form" action="{% url 'RandomPuller:random_puller' %}" method="POST">
            {% csrf_token %}
            <select name="company_select">
                <option selected="selected" disabled>Companies:</option>
                {% for company in companies %}
                <option value="{{ company.name }}">{{ company.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select">
        </form>
    </div>
{% endblock %}