{% extends 'RandomPuller/base.html' %}

{% block title %}
Random Puller
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>
            Please Select a company to pull from
        </h1>
    </div>
    <br>
    <div class="row">
        <form name="select_company_form" action="{% url 'RandomPuller:random_puller' %}" method="POST">
            {% csrf_token %}
            <select name="company_select">
                <option selected="selected" disabled>Companies:</option>
                {% for company in companies %}
                <option value="{{ company.name }}">{{ company.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select">
        </form>
    </div>
    <br>
    <div class="row">
        <h1>Selected Company</h1>
    </div>
    <div class="row">
        <h3>{{selected_company.name}}</h3>
    </div>
    <div class="row">
        <form name="company_pull_settings" action="{% url 'RandomPuller:pulled_employees' %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label for="rand_num">Number of Randoms to Pull:</label>
                    </td>
                    <td>
                        <input name="random_number_to_pull" id="rand_num" type="number" value="{{ selected_company.number_of_randoms }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="alt_num">Number of Alternates to Pull:</label>
                    </td>
                    <td>
                        <input name="alternate_number_to_pull" id="alt_num" type="number" value="{{ selected_company.number_of_alternates }}">
                    </td>
                </tr>
            </table>
            <input name="company_name" hidden="true" type="text" value="{{ selected_company.name }}">
            <input type="submit" name="Submit">
        </form>
    </div>
    <br>
    <div class="row">
        <table name="employee_list">
            <tr>
                <th>All Employees for {{ selected_company.name }}</th>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>First Name</td>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.last_name }},</td>
                <td>{{ employee.first_name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}