div.index_banner {
    background: grey url() no-repeat;
}

div.who_needs_a_consortium_banner {
    background: grey url() no-repeat;
}

div.what_can_elite_do_for_you_banner {
    background: grey url() no-repeat;
}

div.pricing_banner {
    background: grey url() no-repeat;
}

div.did_you_know_dot_requires_banner {
    background: grey url() no-repeat;
}

div.contact_us_banner {
    background: grey url() no-repeat;
}

dd {
    margin-left: 2em;
}

img.table {
    width: 100%;
    height: auto;
}

img.contact_us {
    width: 100%;
    height: auto;
}