<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'MainSite/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'MainSite/css/style.css' %}">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body class="bg-secondary">
{% include 'MainSite/included/navbar.html' %}

{% block header %}
{% endblock %}
<div class="container bg-light p-3 pb-5">
{% block content %}
{% endblock %}
</div>

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'MainSite/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>