{% extends 'MainSite/base.html' %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block header %}
<div class="jumbotron text-center contact_us_banner">
    <h1>
        Contact Us
    </h1>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <img src="{% static 'MainSite/images/office_building_img.jpg' %}" alt="Greenview Office" class="contact_us">
            </div>
            <div class="col-sm">
                <img src="{% static 'MainSite/images/google_maps_location_img.jpg' %}" alt="Greenview Office" class="contact_us">
            </div>
        </div>
        <div class="row">
            <dl>
                <dt>
                    Directions to the office:
                </dt>
                <dd>
                    Turn east on 20th St by the Hutches gas station. Turn left on Van Buren Ave at the curve in the
                    road. We
                    are on the left in the Greenview MHP office building.
                </dd>
                <dt>
                    Office Address:
                </dt>
                <dd>
                    1200 S Van Buren in the Greenview Office
                </dd>
                <dd>
                    Elk City, OK 73644
                </dd>
                <dt>
                    Call:
                </dt>
                <dd>
                    Elite Consortium Services at 405-872-6721 (Local cell phone number)
                </dd>
                <dt>
                    Mail:
                </dt>
                <dd>
                    Elite Consortium Services
                </dd>
                <dd>
                    P.O. Box 2233
                </dd>
                <dd>
                    Elk City, OK 73648
                </dd>
                <dt>
                    E-mail:
                </dt>
                <dd>
                    admin@eliteservicesus.com
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}