{% extends 'MainSite/base.html' %}

{% block title %}
Pricing
{% endblock %}

{% block header %}
<div class="jumbotron text-center pricing_banner">
    <h1>
        Pricing
    </h1>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="pricing-table">
                    {% for price in non_member_prices %}
                    {% if price.extra_cost == 0 %}
                    <tr>
                        <td>{{ price.service_name }}</td>
                        <td>${{ price.price }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ price.service_name }}</td>
                        <td>${{ price.extra_cost }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="col">
                <table class="pricing-table">
                    {% for price in member_prices %}
                    {% if price.extra_cost == 0 %}
                    <tr>
                        <td>{{ price.service_name }}</td>
                        <td>
                            {% if price.min_price == price.max_price %}
                            ${{ price.min_price }}
                            {% else %}
                            ${{ price.min_price }}-${{ price.max_price }}
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>{{ price.service_name }}</td>
                        <td>${{ price.extra_cost }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}