{% extends 'MainSite/base.html' %}

{% block title %}
Pricing
{% endblock %}

{% block header %}
<div class="jumbotron text-center pricing_banner">
    <h1>
        Pricing
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <table name="non_member_pricing" class="table">
                    <thead>
                    <tr class="row">
                        <th class="col">Non-Consortium Member Pricing</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col">Drug testing Collection Only</td>
                        <td class="col">$20.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table name="member_pricing" class="table">
                    <thead>
                    <tr class="row">
                        <th class="col">Consortium Member Pricing</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row">
                        <td class="col">Program yearly fee to be billed on the anniversary date</td>
                        <td class="col">$150.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}